h2, h3, p, table {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 60%;
    table-layout: auto;
}

td, th {
    border: 5px solid #dddddd;
    text-align: center;
    padding: 15px;
}

.button {
    background-color: white; 
    color: black; 
    border: 5px solid #008CBA;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: sans-serif;
}

.button:hover:not(.disabled,.btnEdit,.btnClear) {
    background-color: #008CBA;
    color: white;
}

.disabled{
    background-color: #9aa1a3;
    border: 5px solid #9aa1a3;
}

.btnClear{
    border: 5px solid #c22323;
}

.btnClear:hover {
    background-color: #c22323;
    color: white;
}

.btnEdit{
    border: 5px solid #048d2d;
}

.btnEdit:hover {
    background-color: #048d2d;
    color: white;
}

.margin{
    margin-top: 10px;
}

.promo{
    color: orange;
}

.inputText{
    font-size: 18px;
    max-width: 80px;
}
